extends layout

block content
  h1= title
  p Welcome to Job list
  if jobs
    ul
      for job in jobs
        li= job.company + " - " + job.title
          p= "Salary: " + job.salary
          p= "Description: " + job.description
